
h3{
    font-family: 'Barlow Condensed', sans-serif;
font-family: 'Cedarville Cursive', cursive;
}
div{
    position:absolute;
    bottom: 80px;
    left:530px;
    text-align: center;
    align-items: center;

}
h1{
    font-family: 'Pacifico', cursive;
}